
*{
    font-family: monospace;
}
body{
    background-color: #e2be8b;
    width: 1920px;
    height: 1080px;
    margin: 0px;
}
p{
    display: grid;
}
nav {
    margin: 20px;
}
a:link{
    text-decoration: none;
}
a{
    color: white;
}

.navegar {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    background-color: #c9a87b;
    cursor: pointer;
    font-size: 1.5em;
    border-style: none;
}
.navegar:hover{
    background-color: #e7c28e;
}

.navegar a::after {
    display: inline-block;
    color: #000;
    content: '>>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
.menu{
    background-color: #c9a87b;
    color: white;
    margin: 0px;
}
.menu>h1{
    margin: 0px 0px 0px 40px;
}
div{
    background-color: #fff;
}
div>p{
    text-align: center;
}
div:hover{
    background-color: #afafaf;
}
.cafex{
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.336);
    text-align: center;
    overflow: hidden;
    position: relative;
}
.cafex>img{
    border-radius: 100px;
    max-width: 233px;
    max-height: 250px;
    width: 233px;
    height: 250px;
}

footer{
    display: grid;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #c9a87b;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}
